@media (max-width: 992px) {
  .container {
    width: 90%;
  }
  #header {
    .header {
      &--one {
        display: none;
      }

      &--two {
        display: none;
      }

      .hamburger-menu {

        .menu__btn {
          top: 20px;
          left: 94%;
          display: block;
        }
      }
    }
  }
  #nav {
    .nav {
      &--logo {
        display: flex;
        align-items: center;

        &__btn {
          &--btn1 {
            margin: 0 20px;
          }
        }
      }
    }
  }
  #logo {
    .logo {
      &--one {
        display: flex;
        align-items: center;

        a {
          button {
            margin: 0 20px;
          }
        }
      }

      &--two {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  #header {
    .header {
      &--one {
        display: none;
      }

      &--two {
        display: none;
      }

      .hamburger-menu {
        display: block;

        .menu__btn {
          top: 20px;
          left: 94%;
          display: block;
        }
      }
    }
  }
  #hero {
    .hero {
      &--logo {
        h3 {
          font-size: 17px;
        }

        h1 {
          font-size: 33px;
        }
      }
    }
  }
  #product {
    .product {
      &--one {
        a {
          button {
            margin: 0 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }
  #header {
    .header {
      &--one {
        display: none;
      }

      &--two {
        display: none;
      }

      .hamburger-menu {
        display: block;

        .menu__btn {
          top: 20px;
          left: 94%;
          display: block;
        }
      }
    }
  }
  #hero {
    .hero {
      &--logo {
        h3 {
          font-size: 10px;
        }

        h1 {
          font-size: 21px;
        }
      }

      &-one {
        img {
          width: 380px;
        }
      }
    }
  }
  #product {
    .product {
      &--one {
        a {
          button {
            margin: 0 10px;
          }
        }
      }

      &--three {
        &__two {
          &--five {
            width: 500px;

            &__items {
              img {
                top: 20px;
                left: 60%;
              }
            }
          }
        }
      }
    }
  }
  #nav {
    .nav {
      &--one {
        &__seven {
          &--two {
            width: 540px;

            &__five {
              img {
                right: 4%;
              }
            }
          }
        }
      }
    }
  }
  #logo {
    .logo {
      &--one {
        h1 {
          font-size: 30px;
        }
      }

      &--two {
        display: flex;
        align-items: center;
        justify-content: center;

        &__three {
          margin: 20px 0;
        }
      }
    }
  }
}

@media (max-width: 451px) {
  .container {
    width: 90%;
  }
  #header {
    .header {
      &--one {
        display: none;
      }

      &--two {
        display: none;
      }

      .hamburger-menu {
        display: block;

        .menu__btn {
          top: 20px;
          left: 94%;
          display: block;
        }
      }
    }
  }
  #hero {
    .hero {
      &--logo {
        h3 {
          font-size: 10px;
        }

        h1 {
          font-size: 21px;
        }
      }

      &-one {
        img {
          width: 258px;
        }
      }
    }
  }
  #product {
    .product {
      &--one {
        a {
          button {
            margin: 0 10px;
          }
        }
      }

      &--three {
        &__two {
          &--five {
            width: 390px;
            height: 300px;

            &__title {
              h1 {
                font-size: 16px;
              }

              p {
                font-size: 12px;
              }
            }

            &__nav {
              font-size: 20px;
            }

            &__items {
              img {
                top: 20px;
                left: 51%;
              }
            }
          }
        }
      }
    }
  }
  #nav {
    .nav {
      &--logo {
        h1 {
          font-size: 20px;
        }
      }

      &--one {
        &__seven {
          &--two {
            width: 540px;

            &__five {
              img {
                right: 4%;
              }
            }
          }
        }
      }
    }
  }
  #logo {
    .logo {
      &--one {
        h1 {
          font-size: 30px;
        }
      }

      &--two {
        display: flex;
        align-items: center;
        justify-content: center;

        &__three {
          margin: 20px 0;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .container {
    width: 90%;
  }
  #header {
    .header {
      &--one {
        display: none;
      }

      &--two {
        display: none;
      }

      .hamburger-menu {
        display: block;

        .menu__btn {
          top: 20px;
          left: 94%;
          display: block;
        }
      }
    }
  }
  #hero {
    .hero {
      &--logo {
        h3 {
          font-size: 10px;
        }

        h1 {
          font-size: 21px;
        }
      }

      &-one {
        img {
          width: 190px;
        }
      }
    }
  }
  #product {
    .product {
      &--one {
        a {
          button {
            margin: 0 10px;
          }
        }
      }

      &--three {
        &__two {
          &--five {
            width: 345px;
            height: 300px;

            &__nav {
              a {
                button {
                  font-size: 12px;
                }
              }
            }

            &__title {
              h1 {
                font-size: 14px;
              }

              p {
                font-size: 11px;
              }
            }

            &__nav {
              font-size: 20px;
            }

            &__items {
              img {
                top: 20px;
                left: 51%;
                width: 180px;
                height: 280px;
              }
            }
          }
        }
      }
    }
  }
  #nav {
    .nav {
      &--logo {
        h1 {
          font-size: 20px;
        }
      }

      &--one {
        &__seven {
          &--two {
            width: 374px;

            &__logo {
              h1 {
                font-size: 15px;
              }

              p {
                font-size: 13px;
              }

              button {
                font-size: 13px;
              }
            }

            &__five {
              img {
                right: -3%;
                width: 200px;
                height: 280px;
                top: 20px
              }
            }
          }
        }
      }
    }
  }
  #logo {
    .logo {
      &--one {
        h1 {
          font-size: 13px;
        }
      }

      &--two {
        display: flex;
        align-items: center;
        justify-content: center;

        &__three {
          margin: 20px 0;
        }
      }
    }
  }
}

@media (max-width: 376px) {
  .container {
    width: 90%;
  }
  #header {
    .header {
      &--one {
        display: none;
      }

      &--two {
        display: none;
      }

      .hamburger-menu {
        display: block;

        .menu__btn {
          top: 20px;
          left: 94%;
          display: block;
        }
      }
    }
  }
  #hero {
    .hero {
      &--logo {
        h3 {
          font-size: 10px;
        }

        h1 {
          font-size: 21px;
        }
      }

      &-one {
        img {
          width: 177px;
        }
      }
    }
  }
  #product {
    .product {
      &--one {
        a {
          button {
            margin: 0 10px;
          }
        }
      }

      &--three {
        &__two {
          &--five {
            width: 322px;
            height: 300px;

            &__nav {
              a {
                button {
                  font-size: 10px;
                }
              }
            }

            &__title {
              h1 {
                font-size: 10px;
              }

              p {
                font-size: 8px;
              }
            }

            &__nav {
              font-size: 20px;
            }

            &__items {
              img {
                top: 20px;
                left: 48%;
                width: 180px;
                height: 280px;
              }
            }

            &__three {
              a {
                font-size: 9px;
              }

            }
          }
        }
      }
    }
  }
  #nav {
    .nav {
      &--logo {
        h1 {
          font-size: 20px;
        }

        &__btn {
          &--btn1 {
            font-size: 15px;
          }

          &--btn2 {
            font-size: 13px;
          }
        }
      }

      &--one {
        &__seven {
          &--two {
            width: 355px;

            &__three {
              a {
                font-size: 9px;
              }
            }

            &__logo {
              h1 {
                font-size: 13px;
              }

              p {
                font-size: 11px;
              }

              button {
                font-size: 11px;
              }
            }

            &__five {
              img {
                right: -2%;
                width: 200px;
                height: 280px;
                top: 20px
              }
            }
          }
        }
      }
    }
  }
  #logo {
    .logo {
      &--one {
        h1 {
          font-size: 10px;
        }

        button {
          font-size: 13px;
        }


      }

      &--two {
        display: flex;
        align-items: center;
        justify-content: center;

        &__three {
          margin: 20px 0;
        }
      }
    }
  }
}

